<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <!-- configure spring.net using this file -->
      <sectionGroup name="spring">
          <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"></section>
          <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"></section>
      </sectionGroup>
    </configSections>
  
    <connectionStrings>
        <add name="DonationCenterAplication.Properties.Settings.DonationCenterConnectionString"
            connectionString="Data Source=CTRLSOFT-FM1A7D\MYSQL;Initial Catalog=DonationCenter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    
    <objects xmlns="http://www.springframework.net">
      
      <description>Definitions of objects to be exported.</description>

      <object type="Remoting.SpringService, Remoting">
        
      </object>
      
    </objects>
  </spring>




</configuration>
